.row {
  margin-bottom: 15px;
}
a{
  color:inherit;
}
.card {
    width: 209px;
    height: 260px;
    margin: 5px;
    float: left;
    box-shadow: 1px 1px 5px;
  }
  
  .card-body h5 {
    font-size: 16px;
  }
  
  .card-body p {
    font-size: 12px;
    margin-bottom: 0px;
  }
  
  .price-txt {
    color: #DB3022;
    margin-bottom: 0px;
  }
  
  .content {
    background-color: #ddd;
    min-height: 500px;
    overflow: auto;
  }