

.name {
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    color: black;
    
}

.price{
    font-size: 32px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    color: black;
    margin-bottom: 50px;
    
}

.color{
    font-size: 32px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    color: black;
}

.black {
    width: 36px;
    height: 36px;
    
    background-color: black;
    border-radius: 50%;
    border: none;
}

.red {
    width: 36px;
    height: 36px;
    background-color: rgba(216, 66, 66, 1);
    border-radius: 50%;
    border: none;
    
}
.blue {
    width: 36px;
    height: 36px;
    background-color: rgba(66, 144, 216, 1);
    border-radius: 50%;
    border: none;
    
}
.green {
    width: 36px;
    height: 36px;
    background-color: rgba(66, 216, 108, 1);
    border-radius: 50%;
    border: none;
    
}

.size {
    font-size: 26px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    color: black;
}

.jumlah {
    font-size: 26px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    color: black;
}

.minus {
    
    border-radius: 50%;
    width: 36px;
    height: 36px;
    border: none;
    padding-top: 5px;

}

.plus {
    
    border-radius: 50%;
    width: 36px;
    height: 36px;
    border: none;
    padding-top: 5px;
    
}

.minus2 {
    border-radius: 50%;
    width: 36px;
    height: 36px;
    border: none;
    padding-top: 5px;
    margin-left: 10px;
    

}

.jumlah{
    margin-left: 20px;
}

.chat {
    width: 160px;
    height: 48px;
    background-color: white !important;
    border: 1px solid black ;
}

.mybag {
    width: 160px;
    height: 48px;
    border: 1px solid black ;
    background-color: white !important;
}

.buy {
    width: 343px;
    height: 48px;
    border: none;
    background-color: red !important;
    color: white !important;
}